<div class="container">
  <div class="page-header">
    <h1>How To Mine</h1>
  </div>

  <h4>INFO</h4>
  <dl class="dl-horizontal">
    <dt>payment interval</dt>
    <dd>10 minutes</dd>
    <dt>minimum payment</dt>
    <dd> 1 ethf </dd>
    <dt>block confirmation</dt>
    <dd> 120 </dd>
    <dt>difficulty</dt>
    <dd> 2G </dd>
    <dt>algorithm</dt>
    <dd> Ethash </dd>
  </dl>

  <p>
    <strong>Full example:</strong>
    <br>
    <br>
    Mining software For Nvidia GPUs we recommend <strong>T-Rex</strong> and for AMD GPUs we recommend <strong>TeamRedMiner</strong>.
    <br>
    <br>
    <code>t-rex  -a ethash -o stratum+tcp://stratum.etherfair.org:8008 -u  YOUR_ADDRESS.WORKER_NAME </code><br/>
    <code>teamredminer -a ethash -o stratum+tcp://stratum.etherfair.org:8008 -u YOUR_ADDRESS.WORKER_NAME -p x </code>
    <br/>
    <br>
    <span class="label label-info">Hint:</span> You must replace all values with your own.
  </p>
</div>
